.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 48px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    transition: all .2s ease;
  }
  
  .toolbar .logo {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
    height: 40px;
  }

  .toolbar nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .toolbar nav ul {
    list-style: none;
    display: flex;
    gap: 0px;
  }
  
  .toolbar nav ul li {
    display: inline;
    padding: 18px;
  }
  
  .nav-links li a {
    margin: 0;
    text-decoration: none;
    color: #1b1b1b;
    font-weight: 500;
    transition: color .2s ease;
  }

  .nav-links:hover a {
    color: #868B94;
  }

  .nav-links li:hover a {
    color: #1b1b1b;
  }

  
  .nav-links .dropdown {
    cursor: pointer;
  }
  
  .nav-links .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .nav-links .dropdown-menu li {
    padding: 5px 10px;
  }
  
  .nav-links .dropdown-menu a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
  }
  
  .nav-links .dropdown-menu a:hover {
    color: #007bff;
  }
  
  .auth-links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  
  .auth-links a {
    text-decoration: none;
    color: #333;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .auth-links a:hover {
    color: #007bff;
  }

  a {
    margin-right: 20px;
  }

  .logo {
    margin-inline-start: 20px;
  }